<div class="panel panel-default">
  <div class="panel-heading">
    <h4 id="importer-master-menu" class="panel-title">
      <a data-toggle="collapse" data-parent="#accordion" href="#importer">
        <%= link_to t(:'menu.admin.importer.importer'), [:admin, :import_files], remote: true %>
      </a>
    </h4>
  </div>
</div>